@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* Primary */
  --red-500: #ff525d;
  --red-400: hsl(355, 100%, 74%);
  --blue-900: #1f3f5b;

  /* Neutral */
  --white: hsl(0, 100%, 100%);
  --gray-600: hsl(207, 13%, 34%);
  --gray-900: hsl(240, 10%, 16%);

  /* Gradient Colors */
  --orange-300: #ff8f70;
  --red-550: #ff3d54;
  --purple-950: hsl(237, 17%, 21%);
  --purple-900: hsl(237, 23%, 31%);

  /* Gradient Variables */
  --gradient-intro: linear-gradient(135deg, var(--orange-300), var(--red-550));

  --gradient-body: linear-gradient(
    135deg,
    var(--purple-950),
    var(--purple-900)
  );
}
